
/***** PALETA DE COLORES *****/
$color-black: #08131e;
$color-black-green: #173b2e;
$color-blue-light: #506c6e;
$color-blue-dark: #002b36;
$color-green-light: #c1d88a;
$color-green: #a4bc31;
$color-green-2: #bfd652;
$color-green-dark: #476a34;
$color-green-dark-2: #545b40;
$color-white: #FFFFFF;
$color-white-green: #f1f4ea;