@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Quicksand:300,400,500,700|Roboto');


$font-text: 'Roboto', sans-serif;
$font-title: 'Quicksand', sans-serif;
$font-header: 'Montserrat', sans-serif;

$font-color: $color-black;
$font-size: 16px;
$font-weight: 400;
