doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		title ::Base Gulp,Pug,Scss


		meta(name="application-name", content="Title")
		meta(name="description", content="descripcion")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")

		meta(name="author", content="Fernando Vega")

		meta(property="og:title", content="Title")
		meta(property="og:image", content="")
		meta(property="og:description", content="descripcion")

		link(href="./images/favicon.png", rel="shortcut icon" type="image/x-icon")
		link(href="./images/favicon.png", rel="icon" type="image/x-icon")

		link(href="./vendor/flexboxgrid.min.css" rel="stylesheet" )
		link(href="css/main.css", rel="stylesheet")

		script(src="./vendor/jquery.min.js")
			
	body

		#page-container
			block content



		script(src="./js/main.js")
